<!-- Side navigation -->
<div class="sidenav">
    
    <div class = "btnclass"></div>
      <button mat-flat-button class="btnclass">Products</button>
      <mat-divider></mat-divider>
      <button mat-flat-button disabled class="btnclass">Category</button>
      <mat-divider></mat-divider>
      <button mat-flat-button disabled class="btnclass">Brand</button>
      <mat-divider></mat-divider>
      <button mat-flat-button disabled class="btnclass">Banner</button>
      <mat-divider></mat-divider>
      <button mat-flat-button disabled class="btnclass">Logout</button>
      
  
    </div>
    
    <!-- Page content -->
    <div class="main">
      

      <app-product-list></app-product-list>
     
      
    </div>
